doctype html
html
  head
    title= title
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
    link(rel='stylesheet', href='/stylesheets/flaticon.css')
    link(rel='stylesheet', href='/stylesheets/achievements.css')
  body(ng-app='achieveApp', ng-controller='achieveCtrl as achieveCtrl')

    // button.btn.btn-primary(data-toggle="modal", data-target="#editModal") I got skills!
    .container
      .hyperpeace
        .sexagram.rotating
          .equilateral_triangle
            .text
              .rank 1
              .name knowledge
          .equilateral_triangle
            .text
              .rank 2
              .name comprehension
          .equilateral_triangle
            .text
              .rank 3
              .name application
          .equilateral_triangle
            .text
              .rank 4
              .name analysis
          .equilateral_triangle
            .text
              .rank 5
              .name synthesis
          .equilateral_triangle
            .text
              .rank 6
              .name evaluation

      ul.subject(ng-repeat='(subject, achieves) in achieveCtrl.achievements')
        h3.subject_name(ng-bind='subject')
        li.category(ng-repeat='(category, achieves) in achieves')
          h4.category_name(ng-bind='category')
          ul
            li.item(ng-repeat='achievement in achieves')
              .brief(my-collapse)
                .level_color(ng-class="achieveCtrl.colorClasses[achievement.level-1]")
                  // the icon indicates the type.
                  .icon.flaticon-teacher4(ng-if='achievement.type == "course" ')
                  .icon.ionicons.ion-ios-paper-outline(ng-if='achievement.type == "paper" ')
                  .icon.fa.fa-puzzle-piece(ng-if='achievement.type == "knowledge" ')
                  .icon.fa.fa-lightbulb-o(ng-if='achievement.type == "skill" ')
                  .icon.fa.fa-book(ng-if='achievement.type == "book" ')

                // the name.
                .name(ng-bind='achievement.name')

                .in_progress(ng-if='achievement.inProgress')
                  <i class="fa fa-spinner fa-pulse"></i> in progress
              .details.collapse
                .resources
                    a(ng-repeat='address in achievement.resources', ng-href='{{address}}') link{{$index}}

    // include ./achievements/modals.html

    .acknowledge
      <div>Icon <span class="icon flaticon-teacher4"></span> is made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
    
    // third party scripts
    script( src="javascripts/third-parties/jquery.min.js")
    script( src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
    script( src="javascripts/third-parties/angular.js")
    script( src="javascripts/third-parties/angular-animate.min.js")
    script( src="javascripts/third-parties/underscore.js")
    script( src="javascripts/third-parties/restangular.min.js")

    // AngularJs scripts
    script( src="javascripts/achievements/app.js")
    script( src="javascripts/achievements/controllers/achievementsCtrl.js")
    script( src="javascripts/achievements/services/achievementsService.js")
    script( src="javascripts/achievements/directives/myCollapse.js")

    //
      script( src="javascripts/achievements/directives/achievementsDialogLocalizationDirective.js")
      script( src="javascripts/achievements/directives/wordTagDirective.js")
      script( src="javascripts/achievements/services/achievementselectionService.js")
      script( src="javascripts/achievements/services/achievementsLocalService.js")
    
