doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/history.css')
  body
    div.container
      .thinker
      .cloud
      .moon
      .star(style = "left:200px; top:300px;")
      .star(style = "right:300px; top:50px;")
      img.blink(src = "/images/star.png")