doctype html
html.wooddesk
  - var title = 'reminders'
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/screen.css')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Gochi%20Hand')
  body
    <div class="sticker">Do the hard in your work first, you will learn something in this way. Otherwise time usually runs up before you start the hard and you will always do some easy repetitions.</div>
    
    <div class="sticker">One of the most cheerful things is to develop your own software instead of just working for others.</div>
    
    <div class="sticker">Don't practise music, perform and enjoy it each time when you are playing.</div>

    <div class="sticker">Think about what Mike will do when you are going mad?</div>

    <div class="sticker">Get involved in a project from the start to the end. Think about what can be written on your resume.</div>