doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/index.css')
  body
    a(href='/stickers', target='_blank') Stickers
    a(href='/history', target='_blank') History
    a(href='/achievements', target='_blank') Achievements
