doctype html
html.wooddesk
  - var title = 'reminders'
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/screen.css')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Gochi%20Hand')
  body
    div.sticker Do the hard in your work first, you will learn something in this way. Otherwise time usually runs up before you start the hard and you will always do some easy repetitions.
    
    div.sticker One of the most cheerful things is to develop your own software instead of just working for others.
    
    div.sticker Don't practise music, perform and enjoy it each time when you are playing.

    div.sticker Think about what Mike will do when you are going mad?

    div.sticker Get involved in a project from the start to the end. Think about what can be written on your resume.

    div.sticker 妈妈胃疼，脚癣

    div.sticker Programming languages are all similar and overlapped in terms of fine-grained language concepts.

    div.sticker First of all you have to make a living. Honour your work. But don't try to make too much money, there are so many other things deserving you time.

    div.sticker 民众应当关心政治

    div.sticker write a page to record down the achievements no matter small or large.